body {
    background-color: gray;
    color: white;
}

.kwadraty {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-bottom: 10px;
    margin-left: 30px;
}

/*
h1 {
    color: white;
}*/
